.slide-in-left {
  animation: slideInLeft 0.7s ease-out forwards;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(500%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-in-right {
  animation: slideInRight 0.7s ease-out forwards;
}

@keyframes slideInRight {
  0% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(0);
  }
}
